{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<div style="background-color: green; width:100%; height:100px" class="text-center">
    <h1 classs="text-white container pt-4 mt-2">
       Contact Us
    </h1>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.7846399914433!2d86.42640211429772!3d23.79068209315476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f6bcc87fce1323%3A0xc0e2c978a0ddee87!2sDHANBAD%20RAILWAY%20STATION(South%20Side)!5e0!3m2!1sen!2sin!4v1590312995685!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="col-sm-6 text-center">
        <p><i class="fas fa-envelope"></i>Email ID: nitish.mahato990@gmail.com</p>
        <p><i class="fas fa-phone-square"></i>Contact: 8092184478</p>
        <p><i class="fas fa-address-card"></i>Address: Kenduadih Basti</p>
        <p><i class="fas fa-clock"></i>Office Hours: 10.00 am to 7:00 pm</p>
        <p>Follow us :</p>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter pl-3"></i></a>
        <a href="#"><i class="fab fa-telegram pl-3"></i></a>
        </div>
    </div>
</div>
<br><br>
{% endblock %}