{% extends 'navigation.html' %}
{% load static %}
{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center">EXISTING CUSTOMERS</h2>
            <hr>
            <p>By Creating an account with our website, You will be able to move through the notes uploading and downloading procss and more....</p>
            <center><a href="{% url 'login' %}" class="btn btn-danger text-white mt-5">CREATE AN ACCOUNT</a></center>
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">REGISTER WITH US</h2>
            <hr>
            <p class="text-center">If you have not an account with us, please signup</p>
            <form action="" method="post">
                {% csrf_token %}
                <label for="">First Name</label>
                <input type="text" name="firstname" class="form-control" placeholder="Enter FirstName">
                <label for="">Last Name</label>
                <input type="text" name="lastname" class="form-control" placeholder="Enter LastName">
                <label for="">Contact</label>
                <input type="text" name="contact" class="form-control" placeholder="Enter Contact">
                <label for="">Email ID</label>
                <input type="email" name="emailid" class="form-control" placeholder="Enter EmailID">
                <label for="">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Enter Password">
                <label for="">Branch</label>
                <select name="branch" class="form-control">
                    <option value="Computer Science">Computer Science</option>
                    <option value="Mechanical">Mechanical</option>
                    <option value="Civil">Civil</option>
                    <option value="Eletrical">Eletrical</option>
                    <option value="Electronic">Electronic</option>
                </select>
                <label for="">Are You?</label>
                <select name="role" class="form-control">
                    <option value="Student">Student</option>
                    <option value="Teacher">Teacher</option>
                    
                </select>
                <input type="submit" class="btn btn-danger mt-2" value="SUBMIT">
            </form>
        </div>
    </div>
</div>
{% ifequal error "no" %}
<script>
    alert('Signup Successfully');
    window.location=('{% url 'login' %}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Something went wrong, Try Again');
</script>
{% endifequal %}

{% endblock %}